Source: tarsnap
Section: admin
Priority: optional
Maintainer: Local Admin <root@localhost>
Build-Depends: debhelper (>= 9),
               e2fslibs-dev,
               libssl-dev,
               zlib1g-dev
Standards-Version: 3.9.6
Homepage: http://www.tarsnap.com/

Package: tarsnap
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: tarsnap - Backup service by Dr. Colin Percival
 Backup for the truly paranoid.
